body{
  background: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)), url(/images/bddgal2.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  z-index: -1;
}

.logo{
  width: 90px;
  height: 120px;
}

.header{
  width: 100%;
  height: fit-content;
  padding: 15px 0 30px 0;
  text-align: center;
}

.intro-background{
  background: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)), url("../images/bddgal6.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.intro-background h1{
  text-align: center;
  margin: 220px 0;
  padding: 0 250px;
  font-size: 60px;
  font-weight: bolder;
  letter-spacing: 1px;
}

.header-nav ul{
  list-style: none;
}

.header-nav ul li{
  font-size: 12px;
  padding: 10px;
  letter-spacing: 1px;
  font-weight: bold;
}

.btn{
  padding: 10px 25px;
  font-size: 13px;
  text-decoration: none;
  background-color: rgb(65, 65, 255);
  border-radius: 50px;
  letter-spacing: 1px;
  color: aliceblue;
  font-weight: bold;
}

.icon-image{
  height: 80px;
}

.icon-grid{
  height: fit-content;
  padding: 30px 20px;

}

.icon-grid-header{
  font-size: 30px;
  letter-spacing: 0;
  font-weight: bolder;
  margin: 20px 0;
}

.icon-wrapper{
  padding: 40px 25px;
  margin: 0 20px 20px;
  flex-grow: 1;
  width: auto;
  /* max-width: 300px; */
  min-width: 70px;
  max-width: 15%;
  gap: 2px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2)
}

.icon-wrapper h2{
  font-size: 18px;
}

.icon-wrapper p{
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  word-wrap: break-word;
}

.icon-section{
  flex-wrap: wrap;
}

.community:hover{
  background-color: rgba(0, 115, 255, 0.15);
}

.economy:hover{
  background-color: rgba(0, 200, 255, 0.15);
}

.design:hover{
  background-color: rgba(79, 255, 135, 0.15);
}

.sustainability:hover{
  background-color: rgba(255, 255, 79, 0.15);
}

.social:hover{
  background-color: rgba(255, 79, 79, 0.15);
}

.video-wrapper{
  width: 100%;
}

.video-section{
  padding: 30px 0;
  text-align: center;
}

.video-section h2{
  margin-bottom: 30px;
  font-size: 35px;
}

.video-wrapper i{
  position: absolute;
  padding: 18px 20px;
  font-size: 20px;
  border: solid 3px white;
  border-radius: 50%;
  cursor: pointer;
}

.community-section{
  background-color: white;
  padding: 40px 0 0 25px;
  height: fit-content;
}

.community-image{
  width: 30%;
  height: auto;
  padding: 10px;
  margin: 10px;
  flex-grow: 1;
}

.community-image img{
  width: 100%;
  height: auto;
 
}

.comunity-container{
  flex-wrap: wrap;
}

.features-wrapper{
  padding: 45px;
  margin: 10px;
  max-width: 15%;
}

.features-wrapper h3{
  line-height: 1.4;
  font-weight: 800;
  font-size: 18px;
}

.features-wrapper:hover{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.17);
  border-bottom: 100px;
  border-color: rgba(255, 255, 255, 0);
}

.features-wrapper ul{
  list-style: none;
}

.features-wrapper ul li{
  line-height: 1.5;
  margin: 5px 0;
}

.features-wrapper ul i{
  line-height: 1.7;
  font-size: 12px;
  color: rgba(0, 114, 253, 0.52);
  margin: 7px 10px 0 0;
}

.community-section h2{
  margin-bottom: 35px;
  font-size: 30px;
}

.download-section{
  padding: 10px;
}

.download-image{
  padding: 20px;
  max-width: 250px;
  margin: 0 20px;
  height: auto;
}

.download-image:hover{
  cursor: pointer;
}

.hub-section{
  padding: 35px 0 60px 0;
  flex-wrap: wrap;
}

.hub-section h2{
  text-align: center;
  font-size: 30px;
  margin-bottom: 10px;
}

.hub-image{
  width: 80px;
  height: auto;
  
}

.hub-info-wrapper{
  text-align: center;
  padding: 20px;
  max-width: 20%;
}

.hub-info-wrapper h4{
  font-size: 26px;
  margin-bottom: 10px;
}

.hub-info-wrapper p{
  font-size: 16px;
  font-weight: bold;
}

.comunity{
  color: rgba(0, 195, 166, 0.5);
}

.events{
  color: rgba(255, 0, 93, 0.5);
}

.vc{
  color: rgba(0, 171, 0, 0.5);
}

.support{
  color: rgba(0, 98, 255, 0.5);
}

.trending-section{
  background-color: white;
  height: fit-content;
  padding: 50px 0;
}

.trending-section h2{
  font-size: 30px;
}

.trending-info-wrapper{
  width: 23%;
  min-width: 150px;
  padding: 10px;
  margin: 10px;
  
}

.trending-info-wrapper h4{
  margin: 15px 0;
  padding: 10px 20px;
  line-height: 1.6;
  font-size: 18px;
}

.date {
  font-size: 12px;
}

.date p{
  padding: 5px 20px;;
}

.trending-info-wrapper p{
  letter-spacing: 2px;
}

.trending-image{
  height: auto;
  width: 100%;
}

.trending-info-container{
  flex-wrap: wrap;
}

.visit-us{
  height: 100px;

}

.visit-us ul{
  list-style: none;
  margin-bottom: 15px;
}

.visit-us i, .feedback i{
  font-size: 8px;
  margin-left: 15px ;
}

.visit-btn{
  font-size: 14px;
  letter-spacing: 0;
}

.feedback{
  padding: 30px 20%;

}

.feedback-images{
  flex-wrap: wrap;
}

.feedback-image{
  max-width: 32%;
  height: auto;

}

.feedback-image:hover{
  cursor: pointer;
}

.feedback h2{
  font-size: 28px;
  max-width: 30%;
}

.footer-container{
  background-color: rgb(48, 48, 48);
  padding: 30px 150px;
}

.footer-images{
  max-width: 20%;
}

.footer-image{
  max-width: 140px;

}

footer a{
  text-decoration: none;
  font-size: 14px;
  margin-bottom: 15px;
  padding-bottom: 5px;
  width: fit-content;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.3s ease;
}

footer a:hover{
  border-bottom: 2px solid rgb(47, 119, 221);
}

.site a{
  margin-left: 15px;
}

.site h4{
  margin-bottom: 20px;
  font-size: 16px;
}

.site h5{
  margin-bottom: 10px;
  font-size: 16px;
}

.fa-brands{
  margin-left: 20px;
  font-size: 20px;
}

.copy-right{
  font-size: 12px;
}

.copy-right p{
  color: rgb(148, 148, 148);
  padding-top: 20px;

}

.footer-info-wrapper{
  padding: 0 10px;
  margin-right: 50px;
}

.subscribe{
  gap: 20px;
}

.fa-envelope, .fa-phone{
  margin-right: 15px;
}

.terms{
  font-size: 12px;
}
